# Environnements virtuels
venv/
.venv/

# Fichiers Python compilés
__pycache__/
*.pyc
*.pyo

# Données brutes uniquement (pas les processed !)
data/raw/

# Figures générées
figs/

# Fichiers spécifiques
*.log
.DS_Store
