altair==5.5.0 ; python_version >= "3.12"
attrs==25.3.0 ; python_version >= "3.12"
beautifulsoup4==4.14.2 ; python_version >= "3.12"
blinker==1.9.0 ; python_version >= "3.12"
cachetools==6.2.0 ; python_version >= "3.12"
certifi==2025.8.3 ; python_version >= "3.12"
cffi==2.0.0 ; python_version >= "3.12"
charset-normalizer==3.4.3 ; python_version >= "3.12"
click==8.3.0 ; python_version >= "3.12"
colorama==0.4.6 ; python_version >= "3.12" and platform_system == "Windows"
contourpy==1.3.3 ; python_version >= "3.12"
curl-cffi==0.13.0 ; python_version >= "3.12"
cycler==0.12.1 ; python_version >= "3.12"
fonttools==4.60.1 ; python_version >= "3.12"
frozendict==2.4.6 ; python_version >= "3.12"
gitdb==4.0.12 ; python_version >= "3.12"
gitpython==3.1.45 ; python_version >= "3.12"
idna==3.10 ; python_version >= "3.12"
jinja2==3.1.6 ; python_version >= "3.12"
jsonschema-specifications==2025.9.1 ; python_version >= "3.12"
jsonschema==4.25.1 ; python_version >= "3.12"
kiwisolver==1.4.9 ; python_version >= "3.12"
markdown-it-py==4.0.0 ; python_version >= "3.12"
markupsafe==3.0.3 ; python_version >= "3.12"
matplotlib==3.10.6 ; python_version >= "3.12"
mdurl==0.1.2 ; python_version >= "3.12"
multitasking==0.0.12 ; python_version >= "3.12"
narwhals==2.6.0 ; python_version >= "3.12"
numpy==2.3.3 ; python_version >= "3.12"
packaging==25.0 ; python_version >= "3.12"
pandas==2.3.2 ; python_version >= "3.12"
patsy==1.0.1 ; python_version >= "3.12"
peewee==3.18.2 ; python_version >= "3.12"
pillow==11.3.0 ; python_version >= "3.12"
platformdirs==4.4.0 ; python_version >= "3.12"
protobuf==6.32.1 ; python_version >= "3.12"
pyarrow==21.0.0 ; python_version >= "3.12"
pycparser==2.23 ; python_version >= "3.12" and implementation_name != "PyPy"
pydeck==0.9.1 ; python_version >= "3.12"
pygments==2.19.2 ; python_version >= "3.12"
pyparsing==3.2.5 ; python_version >= "3.12"
python-dateutil==2.9.0.post0 ; python_version >= "3.12"
python-dotenv==1.1.1 ; python_version >= "3.12"
pytz==2025.2 ; python_version >= "3.12"
pyyaml==6.0.3 ; python_version >= "3.12"
referencing==0.36.2 ; python_version >= "3.12"
requests==2.32.5 ; python_version >= "3.12"
rich==14.1.0 ; python_version >= "3.12"
rpds-py==0.27.1 ; python_version >= "3.12"
scipy==1.16.2 ; python_version >= "3.12"
shellingham==1.5.4 ; python_version >= "3.12"
six==1.17.0 ; python_version >= "3.12"
smmap==5.0.2 ; python_version >= "3.12"
soupsieve==2.8 ; python_version >= "3.12"
statsmodels==0.14.5 ; python_version >= "3.12"
streamlit==1.50.0 ; python_version >= "3.12"
tenacity==9.1.2 ; python_version >= "3.12"
toml==0.10.2 ; python_version >= "3.12"
tornado==6.5.2 ; python_version >= "3.12"
typer==0.19.2 ; python_version >= "3.12"
typing-extensions==4.15.0 ; python_version >= "3.12"
tzdata==2025.2 ; python_version >= "3.12"
urllib3==2.5.0 ; python_version >= "3.12"
watchdog==6.0.0 ; python_version >= "3.12" and platform_system != "Darwin"
websockets==15.0.1 ; python_version >= "3.12"
yfinance==0.2.66 ; python_version >= "3.12"
